
%mainColor {
    color: #666666;
}

%textTilte {
    font-family: CalSans;
    color:#121212;
    span {
        color: #FF6428;
    }
};


%textAllTiltes{
    text-align: center;
    font-family: CalSans;
    color:#121212;
    font-size: 44px;
    line-height: 1.2;
    span {
        color: #FF6428;
    }
};


%texCategori {
    div{
        font-family: CalSans;
        color:#FF6428;
        padding: 5px 0 5px 0;
        font-size: 18px;
        font-weight: 600;

    }
    span{
        color:#121212;
        font-weight: 500;
    }
};
%texInCategori {
    li{
        font-family: CalSans;
        color:#FF6428;
        padding: 5px 0 5px 0;
        font-size: 18px;
        font-weight: 600;
        padding-left: 10px;
    }
    div{
        color:white;
        font-weight: 500;
        padding-top: 3px
    }
};